@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/MyCustomFont.woff2') format('woff2'),
         url('./fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MyCustomFontBold';
    src: url('./fonts/MyCustomFont-Bold.woff2') format('woff2'),
         url('./fonts/MyCustomFont-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  